@model List<ResultAboutDTO>

    @foreach (var item in Model)
    {
        <div class="container">
            <div class="row gy-4">
                <div class="col-lg-7" data-aos="fade-up" data-aos-delay="100">
                    <img src="@item.AboutImageURL" class="img-fluid mb-4" alt="">
                    <div class="book-a-table">
                        <h3>@item.AboutTitle</h3>
                        <p>@item.AboutReservationPhoneNUmber</p>
                    </div>
                </div>
                <div class="col-lg-5" data-aos="fade-up" data-aos-delay="250">
                    <div class="content ps-0 ps-lg-5">
                        <p class="fst-italic">
                            @item.AboutDescription
                        </p>

                        <div class="position-relative mt-4">
                            <img src="@item.AboutVideoCoverImageURL" class="img-fluid" alt="">
                            <a href="@item.AboutVideoURL" class="glightbox pulsating-play-btn"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
