@model List<ResultUnReadMessageDTO>
<li class="dropdown dropdown-list-toggle">
    <a href="#" data-toggle="dropdown"
       class="nav-link nav-link-lg message-toggle">
        <i data-feather="mail"></i>
        <span class="badge headerBadge1">
            @Model.Count
        </span>
    </a>
    <div class="dropdown-menu dropdown-list dropdown-menu-right pullDown">
        <div class="dropdown-header">
            Messages
            <div class="float-right">
                <a href="#">Mark All As Read</a>
            </div>
        </div>
        <div class="dropdown-list-content dropdown-list-message">
            @foreach (var message in Model)
            {
                <a href="/Message/MessageDetail/@message.Id" class="dropdown-item">
                    <span class="dropdown-item-avatar text-white">
                        <img alt="image" src="/otika-bootstrap-admin-template/assets/img/users/user-1.png" class="rounded-circle">
                    </span> <span class="dropdown-item-desc">
                        <span class="message-user">@message.MessageFullName</span>
                        <span class="time messege-text">@message.MessageSubject</span>
                        <span class="time">
                            @{
                                var timeSpan = DateTime.Now - message.SentDate;
                                var minutesAgo = (int)timeSpan.TotalMinutes;
                                var hoursAgo = (int)timeSpan.TotalHours;
                                var daysAgo = (int)timeSpan.TotalDays;
                                var monthsAgo = (int)(timeSpan.TotalDays / 30);
                            }
                            @if (minutesAgo < 60)
                            {
                                @($"{minutesAgo} minutes ago")
                            }
                            else if (hoursAgo < 24)
                            {
                                @($"{hoursAgo} hours ago")
                            }
                            else if (daysAgo < 30)
                            {
                                @($"{daysAgo} days ago")
                            }
                            else if (monthsAgo < 12)
                            {
                                @($"{monthsAgo} months ago")
                            }
                            else
                            {
                                @($"{message.SentDate:dd MMM, yyyy}")
                            }
                        </span>
                    </span>
                </a>
            }

        </div>
        <div class="dropdown-footer text-center">
            <a href="/Message/MessageList/">View All <i class="fas fa-chevron-right"></i></a>
        </div>
    </div>
</li>
