@model List<ResultFeatureDTO>
@{
    ViewData["Title"] = "FeatureList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int startIndex = 0;
    int length = 3;
}

<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Feature List</h4>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Feature Title</th>
                                    <th scope="col">Subtitle</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">VideoURL</th>
                                    <th scope="col">ImageURL</th>
                                    <th scope="col">Delete</th>
                                    <th scope="col">Update</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.FeatureTitle</td>
                                        <td>@item.FeatureSubTitle</td>
                                        <td>@item.FeatureDescription</td>
                                        <td>@item.FeatureVideoURL.Substring(startIndex, length)...</td>
                                        <td>@item.FeatureImageURL.Substring(startIndex, length)...</td>
                                        <td><a href="/Feature/DeleteFeature/@item.Id" class="btn btn-danger">Delete</a></td>
                                        <td><a href="/Feature/UpdateFeature/@item.Id" class="btn btn-warning">Update</a></td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                        @if (Model.Count >= 1)
                        {
                            <a href="#" class="btn btn-info">Can not add more than 1 Feature</a>
                        }
                        else
                        {
                            <a href="/Feature/CreateFeature/" class="btn btn-success">Add New One</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>