@model List<ResultChefDTO>
@{
    ViewData["Title"] = "ChefList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int i = 0;
    int startIndex = 0;
    int length = 5;
}

<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Chef List</h4>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Chef Full Name</th>
                                    <th scope="col">Title</th>
                                    <th scope="col">Comment</th>
                                    <th scope="col">Image URL</th>
                                    <th scope="col">Delete</th>
                                    <th scope="col">Update</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model)
                                {
                                    i++;
                                    <tr>
                                        <td>@i</td>
                                        <td>@item.ChefFullName</td>
                                        <td>@item.ChefTitle</td>
                                        <td>@item.ChefComment.Substring(startIndex, length)...</td>
                                        <td>@item.ChefImageURL.Substring(startIndex, length)...</td>
                                        <td><a href="/Chef/DeleteChef/@item.Id" class="btn btn-danger">Delete</a></td>
                                        <td><a href="/Chef/UpdateChef/@item.Id" class="btn btn-warning">Update</a></td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                        <a href="/Chef/CreateChef/" class="btn btn-success">Add New One</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


